ANTHROPIC_API_KEY=<YOUR-KEY-HERE>
CLOUDFLARE_HYPERDRIVE_LOCAL_CONNECTION_STRING_HYPERDRIVE=<YOUR-CONNECTION-STRING-HERE>
PRIVATE_KEY=<YOUR-KEY-HERE>
PUBLIC_KEY=<YOUR-KEY-HERE>
JWT_SECRET=<YOUR-KEY-HERE>
