name: Deploy Frontend
on:
  push:
    branches:
      - main
    paths:
      - "apps/web/**"
      - ".github/workflows/deploy-front.yml"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Bun
        uses: oven-sh/setup-bun@v1

      - name: Install dependencies
        working-directory: apps/web
        run: bun install

      - name: Deploy to Cloudflare Pages
        working-directory: apps/web
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
        run: |
          echo 'VITE_API_URL=https://api.pocketenv.io' >> .env.prod
          echo 'VITE_PUBLIC_URL=https://pocketenv.io' >> .env.prod
          echo 'VITE_CF_URL=https://sbx.pocketenv.io' >> .env.prod
          echo 'VITE_PUBLIC_KEY=2bf96e12d109e6948046a7803ef1696e12c11f04f20a6ce64dbd4bcd93db9341' >> .env.prod
          echo 'VITE_CF_SITE_KEY=0x4AAAAAACkQFFUkG5rsjMDo' >> .env.prod
          bun run build:prod
          bunx wrangler pages deploy --project-name pocketenv
